<section data-ng-controller="IssuesController">
    <div class="page-header">
        <h1>New Issue</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <textarea name="description" data-ng-model="description" id="description" class="form-control" cols="30" rows="10" placeholder="Quick summary of the issue" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="sourceUrl">Where can others find more info?</label>
                    <div class="controls">
                        <input type="text" data-ng-model="sourceUrl" id="sourceUrl" class="form-control" placeholder="Url">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
