<section data-ng-controller="IssuesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Issues</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="issue in issues | limitTo: offset - issues.length | limitTo: pageSize" data-ng-href="#!/issues/{{issue._id}}" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="issue.name"></h4>
      <small class="list-group-item-text">
				Posted on
				<span data-ng-bind="issue.created | date:'medium'"></span>
				by
				<span data-ng-bind="issue.user.displayName"></span>
			</small>
        </a>
    </div>
    <!-- this is the paging control -->
    <pagination total-items="issues.length" ng-model="currentPage" ng-change="pageChanged()" max-size="pageSize" ng-show="issues.length > pageSize"></pagination>
    <!-- end -->
    <div class="alert alert-warning text-center" data-ng-hide="!issues.$resolved || issues.length">
    	No Issues yet, why don't you <a href="/#!/issues/create">create one</a>?
    </div>
</section>
