<section data-ng-controller="IssuesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="issue.name"></h1>
		<p data-ng-bind="issue.description"></p>
		<a ng-href="{{issue.sourceUrl}}">Source</a>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == issue.user._id))">
		<a class="btn btn-primary" href="/#!/issues/{{issue._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="issue.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="issue.user.displayName"></span>
		</em>
	</small>
</section>
